* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

.carrosel {
    filter: drop-shadow(0px 0px 10px #000);
    overflow: hidden;
    height: 500px;
    width: 500px;
}

.container {
    display: flex;
    transition: trasnform 0.6s ease-in-out;
    transform: translateX(0);
}

img {
    object-fit: cover;
    height: 500px;
    width: 500px;
}