@charset "UTF-8";

    main {
        background-color: white;
        width: 600px;
        border-radius: 10px;
        margin: auto;
        padding: 1%;

    }

    body {
        background-image: linear-gradient(to right,  #36BFB1 , #0d0d0de7);
        background-attachment: fixed;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
    }

    h1 {
        text-align: center;

    }

   