* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    /* grid-template-columns: 100px 100px 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: minmax(200px, 1fr) 1fr 1fr;;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto)); */
}

.space {
    /* height: 300px; 
    width: 300px  */
    color: white;
    font-size: 30px;
}

.one {
    background-color: #333453;
}

.two {
    background-color: #259b11;
    grid-row: 2/4;
}

.three{
    background-color: #800534;
}

.four {
    background-color: #0c8f9b;
}   

.five {
    background-color: #ff0a0a;
}

.six {
    background-color: #5a5a5a;
}

.seven {
    background-color: #1E18E0;
}

.eight {
    background-color: #C64C92;
}

.nine {
    background-color: #A8E643;
}