* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


div {
    width: 500px;
    height: 700px;
    background-color: blue;
}

@media screen and (max-width: 600px) {
    div {
        background-color: red;
        width: 200px;
        height: 200px;
    }
}