@charset "UTF-8";

/* Typical Device Breakpoints
----------------------------
Pequenas telas:  320px - 480px
Ipads, Tablets:  481px - 768px 
desktops, laptops: 769px - 1200px
Extra Grande, TV:  1201px */


@media screen and (min-width: 768px){
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main  {
        width: 768px;
    }
}

